.container
  .index-post
    .col-xs-12.col-md-8.col-md-offset-2
      .user_panel
        .panel.panel-default
          .panel-heading
            %li.list-group-item
              = profile_img(@user)
              = @user.name
              さん
              %br/
              %hr/
              %strong.info_name メールアドレス
              %p= @user.email
      %hr
      .favorite_panel
        .panel.panel-default
          .panel-heading お気に入りニュース一覧
          - unless @user.likes.nil?
            - @user.likes.each do |like|
              %p= link_to like.post.title, post_path(like.post_id)
