
/*
*= require normalize-rails
*= require_tree .
*= require_self
*/
@import "material";

body{
  background-color: #FEEACC;
}

h2{
  margin-bottom: 40px;
  text-align: center;
}

img{
  max-width: 100%;
  height: auto;
}
.flex{
  display: inline-flex;
    .user_profile_content{
      p{
        margin: 5px 0;
      }
    }
  // justify-content:
}
