
/*
*= require normalize-rails
*= require_tree .
*= require_self
*/
@import "material";



body{
  background-color: #FEEACC;
  p{
    margin-bottom: 0;
  }
}

h2{
  margin-bottom: 40px;
  text-align: center;
}

h4{
  font-size: 16px;
}

img{
  max-width: 100%;
  height: auto;
}
.flex{
  display: inline-flex;
    .user_profile_content{
      p{
        margin: 5px 0;
      }
    }
  // justify-content:
}
.flex-between {
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: flex;
    justify-content: space-between;
}
