// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.flash {
  color: white;
  padding-top: 56px;
}


header {
  width: 100%;
  // height: 500px;
  background-color: #FF9800;
}

.navbar-default {
    border: 0;
}
.navbar {
    background-color: #FF9800 ;
    color: #FFF;
    margin-bottom: 0px;
    .navbar-right{
      text-align: right;
    }
}
.navbar-default {
  .navbar-brand {
    color: #FFF;
    &:hover {
      color: white;
    }
  }
  .navbar-nav > li > a {
    color: white;
    &:hover, &:focus {
      color: white;
    }
  }
  .navbar-nav > .open > a {
    background-color: transparent;
    color: white;
    &:hover, &:focus {
      background-color: transparent;
      color: white;
    }
  }
}
.alert.alert-info{
  margin: 0;
}

@media (max-width: 767px) {
.navbar-default .navbar-nav .open .dropdown-menu > li > a {
    color: #FFF;
    text-align: center;
    &:hover, &:focus {
      color: white;
    }
  }
  .navbar-default .navbar-toggle {
    background-color: transparent;
    &:hover, &:focus {
      background-color: transparent;
    }
  }
}

.view {
    background: image-url("ff.jpg")no-repeat center center;
    background-size: cover;
    height: 500px;
}
// .full-bg-img{
//     // background-image: image-url("ff.jpg");
//     background: image-url("ff.jpg");
//     background-size: cover;
// }

.container{
  margin: 100px 0;
  // text-align: center;
}

.wrapper{
  background-color: #FCFCFC;
  padding: 30px 0;
}

.center{
  margin: 0 auto;
}

.devise_link{
  text-align: center;
}


html {
  position: relative;
  min-height: 100%;
}

footer {
  position:absolute;
  width: 100%;
  bottom: 0;
  background-color:#FF9800;
  padding: 20px 0 10px 0;
  color: #333;
  margin: 0;
  font-size: 12px;
  text-align: center;
}
