// Place all the styles related to the users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

h2{
  margin-bottom: 40px;
  text-align: center;
}

.btn.btn-primary{
  margin-top: 20px;
  // text-align: right;
  background-color: #3F51B5;
}
.btn.btn-primary.fav-btn{
  margin-top: 0px;
}
